<%- include("header") -%>

<h2>This is the about page.</h2>

<p>This is my Node.js project and Mongoose project for excersise.</p>
<p>I am Ratko Pokrajac and I am learning how to become a programer.</p>

<%- include("footer") -%>
