<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
</head>

<body>
<<<<<<< HEAD
=======
  <div class="TopBox">
    <h2><a class="pad" href="/">HOME LIST</a> <a class="pad" href="/work">WORK LIST</a></h2>
  </div>
  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>
>>>>>>> master
